.jumbotron {
    background-image: url("/assets/img/background5.svg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 740px;
    margin-bottom: -10px;
}

#contenedor{
    background-color: white;
}

#input{
    padding-bottom: 2%;
}

h2{
    padding-top: 2%;
    margin-top: 5%;
    margin-bottom: 1.5%;
}

.escudo{
    max-width: 100%;
}

