<div class="jumbotron">
    <div class="container rounded w-75" id="contenedor">
        <h2>Buscador de equipos: </h2>
        <div class="input-group mb-3 w-50">
            <div class="input-group-text">
                <span class="input-group text">Equipo:</span>
            </div>
            <input type="text" class="form-control" placeholder="Introduce el nombre del equipo..." 
            #equipoBuscado
            id="equipoBuscado"
            (keydown.enter)='buscarEquipo(equipoBuscado)'>
        </div>

        <div id="infoEquipo" *ngIf="equipo">
            <div class="row rounded w-75" id="sector-equipo">
                <div class="col-3">
                    <img [src]="equipo.strTeamBadge" class="escudo" alt="escudo del equipo">
                </div>
                <div class="col-6" id="texto-equipo">
                    <h2>{{equipo.strAlternate}}</h2>
                    <ul>
                        <li>País: {{equipo.strCountry}}</li>
                        <li>Liga: {{equipo.strLeague}}</li>
                        <li>Estadio: {{equipo.strStadium}}</li>
                        <li>Capacidad del estadio: {{equipo.intStadiumCapacity}}</li> 
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

