<nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/img/soccer.svg" width="30" height="30" class="d-inline-block align-top" alt=""> AppFútbol
      </a>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="navbar-collapse collapse" id="navbarsExample03">
        <ul class="navbar-nav me-auto mb-2 mb-sm-0">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/ligas']">Ligas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/goleadores']">Goleadores</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
