<div class="jumbotron">
    <div id="container" class="container rounded">
        <h2>Equipos de la liga:</h2>
        <!-- *ngFor="let equipo of listadoEquipos, let i = index"
            *ngIf="listadoEquipos" -->
        <div id="contenedor">
            <div *ngFor="let equipo of listadoEquipos, let i = index">
                <h3>{{equipo.strTeam}}</h3>
                <ul>
                    <img [src]="equipo.strTeamBadge" class="escudo" alt="escudo del equipo">
                    <li>Estadio: {{equipo.strStadium}}</li>
                    <li>Capacidad del estadio: {{equipo.intStadiumCapacity}}</li>
                </ul>
            </div>
        </div>

        <button id="volver" class="btn btn-success" (click)="volver()">Volver</button>
    </div>
</div>