<div class="jumbotron">
    <div id="banner" class="col-lg-6 col-md-8 mx-auto bg-white rounded border border-light w-50 p-3">
        <h1 class="fw-">¡Bienvenido a AppFútbol!</h1>
        <p class="lead text-dark ">AppFútbol es una aplicación web desarrollada con Angular y Bootstrap,
            que mediante una API de fútbol recopila toda su información para mostrarla a sus usuarios. </p>
        <p>
          <a id="boton1" class="btn btn-success my-2" [routerLink]="['/ligas']">Ver Ligas</a>
          <a class="btn btn-secondary my-2" [routerLink]="['/goleadores']" >Ver Goleadores</a>
        </p>
      </div>
</div>

<!-- <img src="assets/img/background.svg" class="img-fluid" alt="Responsive image"> -->
