.jumbotron {
    background-image: url("/assets/img/background4.svg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 780px;
}

#banner{
    margin-top: 9%;
}

#boton1, #boton2, #boton3{
    margin-right: 10px;
}
